
#locationMap0 { left: 44.80%; top: 93.4%; z-index: 2; } /* Sunken Treasure */
#locationMap1 { left: 55.60%; top: 68.3%; z-index: 2; } /* Link's House */
#locationMap2 { left: 10.00%;  top: 47.8%; z-index: 2; } /* Bottle Vendor */
#locationMap3 { left: 32.00%; top: 69.5%; z-index: 2; } /* Stumpy */
#locationMap4 { left: 31.60%; top: 53.4%; z-index: 2; } /* Purple Chest */ 
#locationMap5 { left: 70.40%; top: 70.3%; z-index: 2; } /* Hobo */
#locationMap6 { left: 43.80%; top: 3.6%; z-index: 2; } /* Ether Tablet */
#locationMap7 { left: 23.40%; top: 93.2%; z-index: 2; } /* Bombos Tablet */
#locationMap8 { left: 91.60%; top: 17.9%; z-index: 2; } /* Catfish */
#locationMap9 { left: 97.00%; top: 13.8%; z-index: 2; } /* King Zora */
#locationMap10 { left: 46.40%; top: 21.4%; z-index: 2; } /* Old Man */
#locationMap11 { left: 13.00%;  top: 8.8%; z-index: 2; } /* Mushroom Spot */
#locationMap12 { left: 51.80%; top: 8.5%; z-index: 2; } /* Spectacle Rock */
#locationMap13 { left: 81.60%; top: 3.0%; z-index: 2; } /* Floating Island */
#locationMap14 { left: 3.60%;  top: 70.2%; z-index: 2; } /* Race Game */
#locationMap15 { left: 3.00%;  top: 91.0%; z-index: 2; } /* Desert Ledge */
#locationMap16 { left: 73.00%; top: 83.9%; z-index: 2; } /* Lake Hylia Island */
#locationMap17 { left: 34.20%; top: 15.6%; z-index: 2; } /* Bumper Cave */
#locationMap18 { left: 59.00%; top: 43.9%; z-index: 2; } /* Pyramid */
#locationMap19 { left: 5.80%; top: 69.2%; z-index: 2; } /* Dig Game */
#locationMap20 { left: 95.80%; top: 17.3%; z-index: 2; } /* Zora Ledge */
#locationMap21 { left: 30.00%; top: 66.7%; z-index: 2; } /* Flute Spot */
#locationMap22 { left: 4.00%;  top: 3.2%; z-index: 2; } /* Pedestal */
#locationMap23 { left: 17.00%; top: 15.8%; z-index: 2; } /* Lost Woods Hideout Tree */
#locationMap24 { left: 83.60%; top: 7.1%; z-index: 2; } /* Death Mountain Bonk Rocks */
#locationMap25 { left: 32.00%; top: 15.1%; z-index: 2; } /* Mountain Entry Pull Tree */
#locationMap26 { left: 36.60%; top: 23.9%; z-index: 2; } /* Mountain Entry Southeast Tree */
#locationMap27 { left: 4.40%; top: 30.9%; z-index: 2; } /* Lost Woods Pass West Tree */
#locationMap28 { left: 10.60%; top: 32.0%; z-index: 2; } /* Kakariko Portal Tree */
#locationMap29 { left: 17.40%; top: 32.5%; z-index: 2; } /* Fortune Bonk Rocks */
#locationMap30 { left: 35.00%; top: 29.6%; z-index: 2; } /* Kakariko Pond Tree */
#locationMap31 { left: 42.00%; top: 31.2%; z-index: 2; } /* Bonk Rocks Tree */
#locationMap32 { left: 49.00%; top: 30.2%; z-index: 2; } /* Sanctuary Tree */
#locationMap33 { left: 65.80%; top: 36.6%; z-index: 2; } /* River Bend West Tree */
#locationMap34 { left: 75.00%; top: 31.9%; z-index: 2; } /* River Bend East Tree */
#locationMap35 { left: 10.80%; top: 42.6%; z-index: 2; } /* Blinds Hideout Tree */
#locationMap36 { left: 23.00%; top: 58.5%; z-index: 2; } /* Kakariko Welcome Tree */
#locationMap37 { left: 30.20%; top: 48.2%; z-index: 2; } /* Forgotten Forest Southwest Tree */
#locationMap38 { left: 31.80%; top: 45.1%; z-index: 2; } /* Forgotten Forest Central Tree */
#locationMap39 { left: 47.80%; top: 46.8%; z-index: 2; } /* Hyrule Castle Tree */
#locationMap40 { left: 67.80%; top: 41.1%; z-index: 2; } /* Wooden Bridge Tree */
#locationMap41 { left: 90.20%; top: 60.3%; z-index: 2; } /* Eastern Palace Tree */
#locationMap42 { left: 32.20%; top: 73.3%; z-index: 2; } /* Flute Boy South Tree */
#locationMap43 { left: 35.00%; top: 71.5%; z-index: 2; } /* Flute Boy East Tree */
#locationMap44 { left: 47.80%; top: 69.8%; z-index: 2; } /* Central Bonk Rocks Tree */
#locationMap45 { left: 81.80%; top: 67.8%; z-index: 2; } /* Tree Line Tree 2 */
#locationMap46 { left: 86.20%; top: 68.8%; z-index: 2; } /* Tree Line Tree 4 */
#locationMap47 { left: 36.60%; top: 83.6%; z-index: 2; } /* Flute Boy Approach South Tree */
#locationMap48 { left: 37.00%; top: 79.7%; z-index: 2; } /* Flute Boy Approach North Tree */
#locationMap49 { left: 29.40%; top: 9.7%; z-index: 2; } /* Dark Lumberjack Tree */
#locationMap50 { left: 16.40%; top: 32.6%; z-index: 2; } /* Dark Fortune Bonk Rocks (2) */
#locationMap51 { left: 50.80%; top: 30%; z-index: 2; } /* Dark Graveyard West Bonk Rocks */
#locationMap52 { left: 55.80%; top: 32%; z-index: 2; } /* Dark Graveyard North Bonk Rocks */
#locationMap53 { left: 61.00%; top: 30%; z-index: 2; } /* Dark Graveyard Tomb Bonk Rocks */
#locationMap54 { left: 68.40%; top: 36.3%; z-index: 2; } /* Qirn Jump West Tree */
#locationMap55 { left: 74.60%; top: 32.2%; z-index: 2; } /* Qirn Jump East Tree */
#locationMap56 { left: 78.00%; top: 31.6%; z-index: 2; } /* Dark Witch Tree */
#locationMap57 { left: 48.40%; top: 55.0%; z-index: 2; } /* Pyramid Area */
#locationMap58 { left: 95.40%; top: 58.0%; z-index: 2; } /* Palace of Darkness Area */
#locationMap59 { left: 79.60%; top: 67.7%; z-index: 2; } /* Dark Tree Line Tree 2 */
#locationMap60 { left: 82.60%; top: 68.6%; z-index: 2; } /* Dark Tree Line Tree 3 */
#locationMap61 { left: 85.40%; top: 69.1%; z-index: 2; } /* Dark Tree Line Tree 4 */
#locationMap62 { left: 56.60%; top: 84.2%; z-index: 2; } /* Hype Cave Area */



#entranceMap0 { left: 56.00%; top: 72%; z-index: 2; }
#entranceMap1 { left: 49.00%; top: 67%; z-index: 2; }
#entranceMap2 { left: 48.00%; top: 96%; z-index: 2; }
#entranceMap3 { left: 28.00%; top: 84%; z-index: 2; }
#entranceMap4 { left: 81.40%; top: 35%; z-index: 2; }
#entranceMap5 { left: 91.40%; top: 17%; z-index: 2; }
#entranceMap6 { left: 62.00%; top: 80%; z-index: 2; }
#entranceMap7 { left: 51.40%; top: 46%; z-index: 2; }
#entranceMap8 { left: 46.40%; top: 41%; z-index: 2; }
#entranceMap9 { left: 56.40%; top: 41%; z-index: 2; }
#entranceMap10 { left: 51.40%; top: 42%; z-index: 2; }
#entranceMap11 { left: 56.40%; top: 44%; z-index: 2; }
#entranceMap12 { left: 61.00%; top: 42.5%; z-index: 2; }
#entranceMap13 { left: 47.40%; top: 28%; z-index: 2; }
#entranceMap14 { left: 40.00%; top: 30%; z-index: 2; }
#entranceMap15 { left: 53.40%; top: 30%; z-index: 2; }
#entranceMap16 { left: 58.60%; top: 28.4%; z-index: 2; }
#entranceMap17 { left: 62.00%; top: 30%; z-index: 2; }
#entranceMap18 { left: 68.00%; top: 29%; z-index: 2; }
#entranceMap19 { left: 66.00%; top: 32%; z-index: 2; }
#entranceMap20 { left: 20.20%; top: 3.1%; z-index: 2; }
#entranceMap21 { left: 20.60%; top: 13.2%; z-index: 2; }
#entranceMap22 { left: 20.00%; top: 16%; z-index: 2; }
#entranceMap23 { left: 35.20%; top: 7.4%; z-index: 2; }
#entranceMap24 { left: 34.00%; top: 4.5%; z-index: 2; }
#entranceMap25 { left: 31.40%; top: 9%; z-index: 2; }
#entranceMap26 { left: 36.00%; top: 19.7%; z-index: 2; }
#entranceMap27 { left: 20.60%; top: 33%; z-index: 2; }
#entranceMap28 { left: 4.00%; top: 43%; z-index: 2; }
#entranceMap29 { left: 7.00%; top: 44%; z-index: 2; }
#entranceMap30 { left: 14.00%; top: 43%; z-index: 2; }
#entranceMap31 { left: 16.40%; top: 43%; z-index: 2; }
#entranceMap32 { left: 18.60%; top: 43%; z-index: 2; }
#entranceMap33 { left: 6.60%; top: 48%; z-index: 2; }
#entranceMap34 { left: 22.00%; top: 49%; z-index: 2; }
#entranceMap35 { left: 11.20%; top: 55%; z-index: 2; }
#entranceMap36 { left: 16.80%; top: 55%; z-index: 2; }
#entranceMap37 { left: 21.80%; top: 55%; z-index: 2; }
#entranceMap38 { left: 4.60%; top: 61%; z-index: 2; }
#entranceMap39 { left: 12.60%; top: 59%; z-index: 2; }
#entranceMap40 { left: 17.40%; top: 58%; z-index: 2; }
#entranceMap41 { left: 17.40%; top: 61%; z-index: 2; }
#entranceMap42 { left: 31.20%; top: 54%; z-index: 2; }
#entranceMap43 { left: 33.20%; top: 57%; z-index: 2; }
#entranceMap44 { left: 34.60%; top: 55%; z-index: 2; }
#entranceMap45 { left: 16.80%; top: 67%; z-index: 2; }
#entranceMap46 { left: 12.00%; top: 72%; z-index: 2; }
#entranceMap47 { left: 16.00%; top: 72%; z-index: 2; }
#entranceMap48 { left: 22.80%; top: 70.3%; z-index: 2; }
#entranceMap49 { left: 97.20%; top: 40%; z-index: 2; }
#entranceMap50 { left: 82.80%; top: 46%; z-index: 2; }
#entranceMap51 { left: 84.00%; top: 65.4%; z-index: 2; }
#entranceMap52 { left: 99.20%; top: 71%; z-index: 2; }
#entranceMap53 { left: 8.80%; top: 82%; z-index: 2; }
#entranceMap54 { left: 5.00%; top: 81%; z-index: 2; }
#entranceMap55 { left: 12.60%; top: 81%; z-index: 2; }
#entranceMap56 { left: 8.80%; top: 78%; z-index: 2; }
#entranceMap57 { left: 19.00%; top: 79%; z-index: 2; }
#entranceMap58 { left: 21.60%; top: 83%; z-index: 2; }
#entranceMap59 { left: 29.40%; top: 90%; z-index: 2; }
#entranceMap60 { left: 32.60%; top: 96%; z-index: 2; }
#entranceMap61 { left: 74.40%; top: 78%; z-index: 2; }
#entranceMap62 { left: 66.40%; top: 81%; z-index: 2; }
#entranceMap63 { left: 66.80%; top: 95%; z-index: 2; }
#entranceMap64 { left: 80.80%; top: 86%; z-index: 2; }
#entranceMap65 { left: 90.60%; top: 78%; z-index: 2; }
#entranceMap66 { left: 93.40%; top: 78%; z-index: 2; }
#entranceMap67 { left: 91.80%; top: 80%; z-index: 2; }
#entranceMap68 { left: 57.40%; top: 5%; z-index: 2; }
#entranceMap69 { left: 50.20%; top: 11%; z-index: 2; }
#entranceMap70 { left: 47.00%; top: 15%; z-index: 2; }
#entranceMap71 { left: 50.00%; top: 16%; z-index: 2; }
#entranceMap72 { left: 41.60%; top: 20%; z-index: 2; }
#entranceMap73 { left: 40.80%; top: 14%; z-index: 2; }
#entranceMap74 { left: 37.40%; top: 16%; z-index: 2; }
#entranceMap75 { left: 46.60%; top: 25%; z-index: 2; }
#entranceMap76 { left: 55.00%; top: 17.4%; z-index: 2; }
#entranceMap77 { left: 86.60%; top: 7.4%; z-index: 2; }
#entranceMap78 { left: 87.60%; top: 23%; z-index: 2; }
#entranceMap79 { left: 87.60%; top: 16%; z-index: 2; }
#entranceMap80 { left: 81.00%; top: 10%; z-index: 2; }
#entranceMap81 { left: 81.00%; top: 14%; z-index: 2; }
#entranceMap82 { left: 85.00%; top: 16%; z-index: 2; }
#entranceMap83 { left: 83.20%; top: 12.4%; z-index: 2; }
#entranceMap84 { left: 83.20%; top: 14.9%; z-index: 2; }
#entranceMap85 { left: 85.80%; top: 10%; z-index: 2; }
#entranceMap86 { left: 56.00%; top: 72%; z-index: 2; }
#entranceMap87 { left: 49.00%; top: 67%; z-index: 2; }
#entranceMap88 { left: 62.00%; top: 80%; z-index: 2; }
#entranceMap89 { left: 48.40%; top: 96%; z-index: 2; }
#entranceMap90 { left: 47.40%; top: 28%; z-index: 2; }
#entranceMap91 { left: 34.80%; top: 46.6%; z-index: 2; }
#entranceMap92 { left: 81.40%; top: 35%; z-index: 2; }
#entranceMap93 { left: 51.40%; top: 42%; z-index: 2; }
#entranceMap94 { left: 48.00%; top: 50%; z-index: 2; }
#entranceMap95 { left: 44.80%; top: 50%; z-index: 2; }
#entranceMap96 { left: 5.40%; top: 6.5%; z-index: 2; }
#entranceMap97 { left: 7.40%; top: 14%; z-index: 2; }
#entranceMap98 { left: 13.40%; top: 10%; z-index: 2; }
#entranceMap99 { left: 15.60%; top: 16%; z-index: 2; }
#entranceMap100 { left: 17.00%; top: 19%; z-index: 2; }
#entranceMap101 { left: 20.40%; top: 13.5%; z-index: 2; }
#entranceMap102 { left: 19.40%; top: 16%; z-index: 2; }
#entranceMap103 { left: 21.60%; top: 18%; z-index: 2; }
#entranceMap104 { left: 35.00%; top: 6.7%; z-index: 2; }
#entranceMap105 { left: 37.00%; top: 19%; z-index: 2; }
#entranceMap106 { left: 20.20%; top: 33%; z-index: 2; }
#entranceMap107 { left: 6.00%; top: 47%; z-index: 2; }
#entranceMap108 { left: 14.00%; top: 49%; z-index: 2; }
#entranceMap109 { left: 22.00%; top: 49%; z-index: 2; }
#entranceMap110 { left: 22.00%; top: 54%; z-index: 2; }
#entranceMap111 { left: 12.60%; top: 59%; z-index: 2; }
#entranceMap112 { left: 33.00%; top: 62%; z-index: 2; }
#entranceMap113 { left: 23.00%; top: 71%; z-index: 2; }
#entranceMap114 { left: 97.20%; top: 41%; z-index: 2; }
#entranceMap115 { left: 86.60%; top: 52%; z-index: 2; }
#entranceMap116 { left: 84.00%; top: 65.7%; z-index: 2; }
#entranceMap117 { left: 99.20%; top: 71%; z-index: 2; }
#entranceMap118 { left: 81.00%; top: 87%; z-index: 2; }
#entranceMap119 { left: 66.60%; top: 81%; z-index: 2; }
#entranceMap120 { left: 90.60%; top: 78%; z-index: 2; }
#entranceMap121 { left: 93.40%; top: 78%; z-index: 2; }
#entranceMap122 { left: 91.80%; top: 80%; z-index: 2; }
#entranceMap123 { left: 8.80%; top: 84%; z-index: 2; }
#entranceMap124 { left: 5.40%; top: 81%; z-index: 2; }
#entranceMap125 { left: 12.60%; top: 81%; z-index: 2; }
#entranceMap126 { left: 21.20%; top: 83%; z-index: 2; }
#entranceMap127 { left: 57.60%; top: 5%; z-index: 2; }
#entranceMap128 { left: 58.80%; top: 16%; z-index: 2; }
#entranceMap129 { left: 37.60%; top: 16%; z-index: 2; }
#entranceMap130 { left: 41.60%; top: 20%; z-index: 2; }
#entranceMap131 { left: 81.60%; top: 3%; z-index: 2; }
#entranceMap132 { left: 84.40%; top: 7.5%; z-index: 2; }
#entranceMap133 { left: 87.60%; top: 7.2%; z-index: 2; }
#entranceMap134 { left: 85.00%; top: 16%; z-index: 2; }
#entranceMap135 { left: 87.60%; top: 16%; z-index: 2; }
#entranceMap136 { left: 95.40%; top: 9%; z-index: 2; }
#entranceMap137 { left: 83.40%; top: 13%; z-index: 2; }
#entranceMap138 { left: 81.20%; top: 10%; z-index: 2; }
#entranceMap139 { left: 85.80%; top: 10%; z-index: 2; }

