:root {
  --size-1x: 16px;
  --size-1_5x: 24px;
  --size-2x: 32px;
  --size-3x: 48px;
  --size-4x: 64px;
  --size-5x: 80px;
  --size-6x: 96px;
  --size-8x: 128px;
  --size-10x: 160px;

  --item-halfsize: 22.5px;
  --dungeon-halfsize: var(--size-1x);

  --item-size: calc(2 * var(--item-halfsize));
  --dungeon-size: calc(2 * var(--dungeon-halfsize));
  --dungeon-width: calc(4 * var(--dungeon-size));
  --dungeon-width-alt: calc(3 * var(--dungeon-size));

  --tracker-item-width: calc(5 * var(--item-size));
  --tracker-item-height: calc(5 * var(--item-size));

  --tracker-width: calc(var(--tracker-item-width) + 2 * var(--dungeon-width));
  --tracker-height: calc(var(--tracker-item-height));

  --map-size: calc(var(--tracker-width) / 2 - 1px);

  --app-width: calc(var(--tracker-width));
  --app-height: calc(var(--tracker-height) + var(--map-size));

  --location-size: 12px;
  --location-margin: calc(-1 * var(--location-size) / 2);

}


#app { width: var(--tracker-width); height: var(--app-height); }
#app.sphereless { height: 692px; }
#app.mapless { width: var(--tracker-width); }

body {
  margin: 0px;
  background-color: black;
  font-family: roboto_condensedregular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

* { box-sizing: border-box; }

.row:before,
.row:after { content: " "; display: table; }
.row:after { clear: both; }
.cell { position: relative; float: left; }

.dungeonitemcell {
  position: relative;
  float: left;
  height: var(--dungeon-size);
  width: var(--dungeon-size);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0px;
}

.mainitemcell {
  height: var(--tracker-item-height);
  width: var(--tracker-item-width);
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 0px;
}

.tracker-item-full {
  height: var(--item-size);
  width: var(--item-size);
}

.tracker-item-half { 
  height: var(--item-halfsize);
  width: var(--item-halfsize);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0px;
}

#tracker [id^="config-cell"] { 
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: var(--dungeon-width); 
  height: var(--dungeon-size); 
}

.scale100 { zoom: 1;}
.scale75 { zoom: 0.75;}
.scale50 { zoom: 0.5;}
.scale25 { zoom: 0.25;}

#tracker [id^="dungeon-hc"] { 
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: var(--dungeon-width-alt); 
  height: var(--dungeon-size); 
}

#tracker [id^="dungeon-ct"] { 
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: var(--dungeon-width-alt); 
  height: var(--dungeon-size); 
}

#tracker [id^="dungeon-gt"] { 
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: var(--dungeon-width-alt); 
  height: var(--dungeon-size); 
}

#tracker [id^="dungeon-prize"] { width: var(--dungeon-size); height: var(--dungeon-size); }
#tracker [id^="dungeon-agahnim"] { width: var(--dungeon-size); height: var(--dungeon-size); }
#tracker .boss { width: var(--dungeon-size); height: var(--dungeon-size); }
#tracker .item,
#tracker [id^="item"] { width: var(--item-size); height: var(--item-size); }
#tracker [id^="chest"] { width: var(--dungeon-size); height: var(--dungeon-size); font-size: 15px; text-align: center; font-family: roboto_condensedregular, "Arial Black", Gadget, sans-serif; font-weight: bold; padding-top: 6px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
#tracker [class^="bigkey"] { width: var(--dungeon-halfsize); height: var(--dungeon-halfsize); }
#tracker [class^="smallkey"] { width: var(--dungeon-halfsize); height: var(--dungeon-halfsize); color: #FFF; font-size: 10px; line-height: 22px; text-align: right; padding-left: 8px; font-family: "Arial Black", Gadget, sans-serif; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker [id^="smallhalfheader"] { width: var(--dungeon-size); height: var(--dungeon-size); color: #FFF; font-size: 9px; text-align: center; font-family: "Arial Black", Gadget, sans-serif; padding-top: 2px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;  }
#tracker .compass { width: var(--dungeon-halfsize); height: var(--dungeon-halfsize); }
#tracker .dungeonmap { width: var(--dungeon-halfsize); height: var(--dungeon-halfsize); }

#tracker .item.half { width: var(--item-halfsize); height: var(--item-halfsize); }

#tracker .crystalgoal { height: var(--dungeon-size); width: var(--dungeon-size); }
#tracker .ganongoal { height: var(--dungeon-size); width: var(--dungeon-size); }

#tracker .item,
#tracker .boss { opacity: .25; }
#tracker .prize { 
  opacity: .66; 
  border: 2px solid;
  border-radius: 100%;
  background-color: #000;
  background-position: right -2px bottom -2px;  
}
#tracker .item[class*="active"],
#tracker .boss.defeated { opacity: 1; }
#tracker .dungeonmap,
#tracker .compass,
#tracker .bigkey { opacity: .25; }
#tracker .collected { opacity: 1; }
#tracker .sphere { height: 37px; width: 37px; background-size:100%; }

#tracker .prize-1 { background-size: 90%; background-repeat: no-repeat; background-position: center;}
#tracker .prize-2 { background-size: 90%; background-repeat: no-repeat; background-position: center;}

#tracker .prize.collected {
  border: 2px solid;
  border-radius: 100%;
}

[class*="prize-"] {
  width: var(--dungeon-size);
  height: var(--dungeon-size);
}
[class*="enemizer-"] {
  width: var(--dungeon-size);
  height: var(--dungeon-size);
  position: absolute;
  top: 0;
  left: 0;
}
#tracker [class*="medallion-"] {
  width: var(--size-2x);
  height: var(--size-2x);
  position: absolute;
  bottom: 0;
}

#tracker [class*="bombfloor-"] {
  width: var(--size-2x);
  height: var(--size-2x);
  position: absolute;
  bottom: 0;
  background-size: 100% 100%;
}

.mirrorscroll {
  width: var(--item-halfsize);
  height: var(--item-halfsize);
  position: absolute;
  left: center;
  background-size: 100% 100%;
}
.pseudoboots {
  width:var(--item-size);
  height:var(--item-size);
  position: absolute;
  bottom: 0px;
  background-size: 100% 100%;
}

#map_light {
  width: var(--map-size);
  height: var(--map-size);
  margin-left: 2px;
  background-image: url(../images/overlay/map_lw.png);
  background-size: 99% 100%;
  background-repeat: no-repeat;
}

#map_dark {
  width: var(--map-size);
  height: var(--map-size);
  background-image: url(../images/overlay/map_dw.png);
  background-size: 99% 100%;
  background-position: right;
  background-repeat: no-repeat;

}

.location {
  border-color:#000;
  border-style: solid;
  border-width: 1px;
  width: var(--location-size);
  height: var(--location-size);
  margin-left: var(--location-margin);
  margin-top: var(--location-margin);
  position: absolute;
  background-size: 100% 100%;
}

.lowerchest {
  width:var(--size-4x);
  height:var(--size-4x);
  float: left;
}



.chest.scouted,
.castle.scouted,
.location.scouted,
.dungeon.scouted,
.chest.highlight,
.castle.highlight,
.location.highlight,
.dungeon.highlight { border-color:rgb(255, 238, 0) !important; }

.chest.findhighlight,
.castle.findhighlight,
.location.findhighlight,
.dungeon.findhighlight { border-color:rgb(255, 238, 0) !important; border-width: 3px !important; }
.location.rightclick,
.dungeon.rightclick { background-image: url(../images/overlay/highlighted2.png); }
.hidden { width: 0px!important; height: 0px!important; }

#caption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

#autotrackingstatus {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 3px;
  color: white;
  font-size: 12px;
  text-align: right;
}

.icon {
  width: var(--size-1x) !important;
  height: var(--size-1x) !important;
  display: inline-block;
  background-size: 100% 100% !important;
  vertical-align: text-bottom;
}

.spheresword.active-1 { background-image: url(../images/items/sword1.png); }
.spheresword.active-2 { background-image: url(../images/items/sword2.png); }
.spheresword.active-3 { background-image: url(../images/items/sword3.png); }
.spheresword.active-4 { background-image: url(../images/items/sword4.png); }
.sphereshield.active-1 { background-image: url(../images/items/shield1.png); }
.sphereshield.active-2 { background-image: url(../images/items/shield2.png); }
.sphereshield.active-3 { background-image: url(../images/items/shield3.png); }
.spheremoonpearl { background-image: url(../images/items/moonpearl.png); }

.sword.active-0 { background-image: url(../images/items/sword1.png); opacity: .25; background-size:100%; }
.sword.active-1 { background-image: url(../images/items/sword1.png); background-size:100%; }
.sword.active-2 { background-image: url(../images/items/sword2.png); background-size:100%; }
.sword.active-3 { background-image: url(../images/items/sword3.png); background-size:100%; }
.sword.active-4 { background-image: url(../images/items/sword4.png); background-size:100%; }
.shield.active-0 { background-image: url(../images/items/shield1.png); opacity: .25; background-size:100%; }
.shield.active-1 { background-image: url(../images/items/shield1.png); background-size:100%; }
.shield.active-2 { background-image: url(../images/items/shield2.png); background-size:100%; }
.shield.active-3 { background-image: url(../images/items/shield3.png); background-size:100%; }
.moonpearl { background-image: url(../images/items/moonpearl.png); background-size:100%; }
.heartpiece { background-image: url(../images/items/heartpiece0.png); background-size:100%; }
div[class*=" heartpiece"].active-1 { 
  background-image: url(../images/items/heartpiece1.png);
  background-size:100%; 
 }
div[class*=" heartpiece"].active-2 { 
  background-image: url(../images/items/heartpiece2.png);
  background-size:100%; 
 }
div[class*=" heartpiece"].active-3 { 
  background-image: url(../images/items/heartpiece3.png);
  background-size:100%; 
 }
.crystalgoal.crystals0 { background-image: url(../images/dungeons/crystal0.png); background-size:100%; }
.crystalgoal.crystals1 { background-image: url(../images/dungeons/crystal1.png); background-size:100%; }
.crystalgoal.crystals2 { background-image: url(../images/dungeons/crystal2.png); background-size:100%; }
.crystalgoal.crystals3 { background-image: url(../images/dungeons/crystal3.png); background-size:100%; }
.crystalgoal.crystals4 { background-image: url(../images/dungeons/crystal4.png); background-size:100%; }
.crystalgoal.crystals5 { background-image: url(../images/dungeons/crystal5.png); background-size:100%; }
.crystalgoal.crystals6 { background-image: url(../images/dungeons/crystal6.png); background-size:100%; }
.crystalgoal.crystals7 { background-image: url(../images/dungeons/crystal7.png); background-size:100%; }
.crystalgoal.crystals { background-image: url(../images/dungeons/crystal.png); background-size:100%; }
.crystalgoal.pendants { background-image: url(../images/dungeons/prize1.png); background-size:100%; }
.crystalgoal.triforcehunt { background-image: url(../images/dungeons/triforcehunt.png); background-size:100%; }
.crystalgoal.other { visibility: collapse; }
.crystalgoalselect { visibility: collapse;}
.ganongoal.ganon0 { background-image: url(../images/dungeons/ganon0.png); background-size:100%; }
.ganongoal.ganon1 { background-image: url(../images/dungeons/ganon1.png); background-size:100%; }
.ganongoal.ganon2 { background-image: url(../images/dungeons/ganon2.png); background-size:100%; }
.ganongoal.ganon3 { background-image: url(../images/dungeons/ganon3.png); background-size:100%; }
.ganongoal.ganon4 { background-image: url(../images/dungeons/ganon4.png); background-size:100%; }
.ganongoal.ganon5 { background-image: url(../images/dungeons/ganon5.png); background-size:100%; }
.ganongoal.ganon6 { background-image: url(../images/dungeons/ganon6.png); background-size:100%; }
.ganongoal.ganon7 { background-image: url(../images/dungeons/ganon7.png); background-size:100%; }
.ganongoal.ganon { background-image: url(../images/dungeons/ganon.png); background-size:100%; }
.ganongoal.alldungeons { background-image: url(../images/dungeons/alldungeons.png); background-size:100%; }
.ganongoal.pendants { background-image: url(../images/dungeons/prize1.png); background-size:100%; }
.ganongoal.ganonhunt { background-image: url(../images/dungeons/ganonhunt.png); background-size:100%; }
.ganongoal.triforcehunt { background-image: url(../images/dungeons/triforcehunt.png); background-size:100%; }
.ganongoal.other { visibility: collapse; }
.ganongoalselect { visibility: collapse; }
.crystalgoalselect { background-color: #333; width: 320px; height: var(--dungeon-size); z-index: 99; position: absolute; top: 0; left: 64; }
.ganongoalselect { background-color: #333; width: 320px; height: var(--dungeon-size); z-index: 99; position: absolute; top: 0; left: 96; }
.changeflags { width: var(--dungeon-size); height: var(--dungeon-size); z-index: 2; background-image: url(../images/dungeons/flagicon.png); background-size: 100%; }
.showpaths { width: var(--dungeon-size); height: var(--dungeon-size); z-index: 2; background-image: url(../images/interface/connectorentrance.png); background-size: 100%; }

.bomb { background-image: url(../images/items/bomb.png); background-size:100%; }
.bow { background-image: url(../images/items/bow0.png); background-size:100%; }
.bow.active-1 { background-image: url(../images/items/bow1.png); background-size:100%; }
.bow.active-2 { background-image: url(../images/items/bow2.png); background-size:100%; }
.bow.active-3 { background-image: url(../images/items/bow3.png); background-size:100%; }
.boomerang { background-image: url(../images/items/boomerang1.png); background-size:100%; }
.boomerang.active-2 { background-image: url(../images/items/boomerang2.png); background-size:100%; }
.boomerang.active-3 { background-image: url(../images/items/boomerang3.png); background-size:100%; }
.hookshot { background-image: url(../images/items/hookshot.png); background-size:100%; }
.mushroom { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/mushroom.png); }
.mushroom.active-2 { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/mushroom_turnedin.png); }
.powder { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); top: var(--item-halfsize); left: var(--item-halfsize); background-image: url(../images/items/powder.png); }
.firerod { background-image: url(../images/items/firerod.png); background-size:100%; }
.icerod { background-image: url(../images/items/icerod.png); background-size:100%; }
.bombos { background-image: url(../images/items/bombos.png); background-size:100%; }
.ether { background-image: url(../images/items/ether.png); background-size:100%; }
.quake { background-image: url(../images/items/quake.png); background-size:100%; }
.lantern { background-image: url(../images/items/lantern.png); background-size:100%; }
.hammer { background-image: url(../images/items/hammer.png); background-size:100%; }
.shovel { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/shovel.png); }
.net { background-image: url(../images/items/net.png); background-size:100%; }
.book { background-image: url(../images/items/book.png); background-size:100%; }
.bottle1 { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/bottle_empty.png); }
.bottle2 { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/bottle_empty.png); }
.bottle3 { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/bottle_empty.png); }
.bottle4 { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); background-image: url(../images/items/bottle_empty.png); }
div[class*=" bottle"].active-1 { background-image: url(../images/items/bottle_empty.png); }
div[class*=" bottle"].active-2 { background-image: url(../images/items/bottle_red.png); }
div[class*=" bottle"].active-3 { background-image: url(../images/items/bottle_green.png); }
div[class*=" bottle"].active-4 { background-image: url(../images/items/bottle_blue.png); }
div[class*=" bottle"].active-5 { background-image: url(../images/items/bottle_fairy.png); }
div[class*=" bottle"].active-6 { background-image: url(../images/items/bottle_bee.png); }
div[class*=" bottle"].active-7 { background-image: url(../images/items/bottle_goodbee.png); }
.somaria { background-image: url(../images/items/somaria.png); background-size:100%; }
.byrna { background-image: url(../images/items/byrna.png); background-size:100%; }
.cape { background-image: url(../images/items/cape.png); background-size:100%; }
.mirror { background-image: url(../images/items/mirror.png); background-size:100%; }
.mirrorscroll { background-image: url(../images/dungeons/map.png); background-size:100%; }
.boots { background-image: url(../images/items/boots.png); background-size:100%; }
.pseudoboots { background-image: url(../images/items/pseudoboots.png); background-size:100%; }
.glove { background-image: url(../images/items/glove1.png); background-size:100%; }
.glove.active-2 { background-image: url(../images/items/glove2.png); background-size:100%; }
.flippers { background-image: url(../images/items/flippers.png); background-size:100%; }
.flute { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); top: var(--item-halfsize); left: var(--item-halfsize); background-image: url(../images/items/flute.png); }
.flute.active-2 { width: var(--item-halfsize); height: var(--item-halfsize); background-size: var(--item-halfsize); top: var(--item-halfsize); left: var(--item-halfsize); background-image: url(../images/items/flute_activated.png); }
.magic { background-image: url(../images/items/magic.png); background-size: 100%;}
.ballandchain { width: var(--size-2x); height: var(--size-2x); background-image: url(../images/sprites/hyrule_knight_tunic2.png); background-size: var(--size-2x); }
.agahnim, #bossMapAgahnim { width: var(--size-2x); height: var(--size-2x); background-size: var(--size-2x); background-image:url(../images/dungeons/agahnim0.png); }
.agahnim.active { width: var(--size-2x); height: var(--size-2x); background-size: var(--size-2x); background-image:url(../images/dungeons/agahnim1.png); }
.agahnim2 { width: var(--size-2x); height: var(--size-2x); background-size: var(--size-2x); background-image:url(../images/dungeons/agahnim20.png); }
.agahnim2.active { width: var(--size-2x); height: var(--size-2x); background-size: var(--size-2x); background-image:url(../images/dungeons/agahnim1.png); }
.boss0 { background-image: url(../images/dungeons/boss0.png); background-size: 30px; background-repeat: no-repeat; background-position: center }
.boss1 { background-image: url(../images/dungeons/boss1.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss2 { background-image: url(../images/dungeons/boss2.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss3 { background-image: url(../images/dungeons/boss3.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss4 { background-image: url(../images/dungeons/boss4.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss5 { background-image: url(../images/dungeons/boss5.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss6 { background-image: url(../images/dungeons/boss6.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss7 { background-image: url(../images/dungeons/boss7.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss8 { background-image: url(../images/dungeons/boss8.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss9 { background-image: url(../images/dungeons/boss9.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.boss10, #bossmap10 { background-image: url(../images/dungeons/boss10.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
#bossmap11 { background-image: url(../images/dungeons/ballnchain.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
#bossmap12 { background-image: url(../images/dungeons/agahnim0.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.bossprize-0 { background-image: url(../images/dungeons/bossicon0.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.bossprize-1 { background-image: url(../images/dungeons/bossicon1.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.bossprize-2 { background-image: url(../images/dungeons/bossicon2.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.bossprize-3 { background-image: url(../images/dungeons/bossicon3.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.bossprize-4 { background-image: url(../images/dungeons/bossicon4.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }
.bossprize-5 { background-image: url(../images/dungeons/bossicon5.png); background-size: 30px; background-repeat: no-repeat; background-position: center; }

.enemizer-0 { background-image: url(../images/dungeons/prize0.png); background-size: var(--size-2x); }
.enemizer-1 { background-image: url(../images/dungeons/boss0.png); background-size: var(--size-2x); }
.enemizer-2 { background-image: url(../images/dungeons/boss1.png); background-size: var(--size-2x); }
.enemizer-3 { background-image: url(../images/dungeons/boss2.png); background-size: var(--size-2x); }
.enemizer-4 { background-image: url(../images/dungeons/boss3.png); background-size: var(--size-2x); }
.enemizer-5 { background-image: url(../images/dungeons/boss4.png); background-size: var(--size-2x); }
.enemizer-6 { background-image: url(../images/dungeons/boss5.png); background-size: var(--size-2x); }
.enemizer-7 { background-image: url(../images/dungeons/boss6.png); background-size: var(--size-2x); }
.enemizer-8 { background-image: url(../images/dungeons/boss7.png); background-size: var(--size-2x); }
.enemizer-9 { background-image: url(../images/dungeons/boss8.png); background-size: var(--size-2x); }
.enemizer-10 { background-image: url(../images/dungeons/boss9.png); background-size: var(--size-2x); }
.enemizer-11 { background-image: url(../images/dungeons/compass.png); background-size: var(--size-2x); }
.prize-0 { background-image: url(../images/dungeons/prize0.png); }
.prize-1 { background-image: url(../images/dungeons/prize1.png); }
.prize-2 { background-image: url(../images/dungeons/prize2.png); }
.prize-3 { background-image: url(../images/dungeons/prize3.png); }
.prize-4 { background-image: url(../images/dungeons/prize4.png); }
.prize-5 { background-image: url(../images/dungeons/prize5.png); }
.medallion-0 { background-image: url(../images/dungeons/medallion0.png); }
.medallion-1 { background-image: url(../images/dungeons/medallion1.png); }
.medallion-2 { background-image: url(../images/dungeons/medallion2.png); }
.medallion-3 { background-image: url(../images/dungeons/medallion3.png); }
.chest-0 { background-image: url(../images/dungeons/keychest0.png); }
.chest { background-image: url(../images/dungeons/keychest.png); }
.bigkey { background-image: url(../images/dungeons/bigkey.png); background-size: 100%; }
.smallkeyfull { background-image: url(../images/dungeons/smallkey.png); background-size: var(--dungeon-halfsize); position: relative; background-repeat: no-repeat; background-position-x: -3px; }
.smallkeyhalf { background-image: url(../images/dungeons/smallkey.png); background-size: var(--dungeon-halfsize); position: relative; background-repeat: no-repeat; background-position-x: -3px; }
.compass { background-image: url(../images/dungeons/compass.png); background-size: calc( var(--dungeon-halfsize) * 0.875); background-repeat: no-repeat; background-position: center;}
.dungeonmap { background-image: url(../images/dungeons/prize5.png); background-size: calc( var(--dungeon-halfsize) * 0.875); background-repeat: no-repeat; background-position: center;}
.bombfloor-0 { background-image: url(../images/dungeons/bombablefloor0.png); }
.bombfloor-1 { background-image: url(../images/dungeons/bombablefloor1.png); }

.bombsmall { background-image: url(../images/overlay/bomb.png); }
.crystal { background-image: url(../images/dungeons/prize4.png); }
.pendant-0 { background-image: url(../images/overlay/pendant0.png); }
.pendant-1 { background-image: url(../images/overlay/pendant1.png); }
.pendant-2 { background-image: url(../images/overlay/pendant2.png); }

.noitem { background-image: url(../images/dungeons/prize0.png); opacity: .25; }

.dropdown-toggle, .dropdown-menu { width: 300px }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 50px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }

.tab { padding: 4px; border: 2px solid white; color: blue; user-select: none; cursor: pointer; }
.tab.active { border-color: black; color: black; background-color: #E0E0E0; cursor: default; }

.bonkloc { width: 12 !important; height: 12 !important; border-width: 0.5px !important;}

.instructionsDiv {
    width: 1200px;
    color: white;
    font-size: 20px;
    float: left;
    display: block;
    background: #55555561;
    padding: 30px;
    border: #0f0;
    border-width: 2px;
    border-style: solid;	
}

.releaseDiv {
    width: 1200px;
    color: white;
    font-size: 20px;
    float: left;
    display: block;
    background: #55555561;
    padding: 30px;
    border: #0f0;
    border-width: 2px;
    border-style: solid;
	margin-bottom: 30px;
}

.grabbagtr {
    border: 1px solid black;
    cursor: pointer;
    width: 140px;
    height: 24px;
    padding: 5px;
}



.chest.findhighlight,
.castle.findhighlight,
.location.findhighlight,
.dungeon.findhighlight { border-color:rgb(255, 238, 0) !important; border-width: 3px !important; }
.chest.large { width: 64px !important; height: 64px !important; background-size: 100%; font-size: 34px !important; padding-top: 8px !important; background-image: url(../images/dungeons/keychestlarge.png); }
.chest-0.large { width: 64px !important; height: 64px !important; background-size: 100%; font-size: 34px !important; padding-top: 8px !important; background-image: url(../images/dungeons/keychestlarge0.png); }
.location.rightclick,
.dungeon.rightclick { border-color:rgb(255, 255, 255); }
.unavailable { border-width: 0.5px;}
.unavailabledark {  border-radius: 0%;}
.unavailableitemlocked {  border-radius: 0%;}
.unavailableother {  border-radius: 0%;}
.unavailablekeylocation {  border-radius: 0%;}
.available { border-width: 0.5px;}
.availableconnector { width: 14; height: 14; margin-left: -12px; margin-top: -12px;}
.availableunknownconnector { border-radius: 0%; transform: rotateY(0deg) rotate(45deg);}
.availabledungeon { background-color: rgb(0, 234, 255); border-width:1px; width: 16; height: 16; margin-left: -14px; margin-top: -14px; border-radius: 0%;}
.availablecastleconnector { border-width:1px; width: 16; height: 16; margin-left: -14px; margin-top: -14px; border-radius: 0%;}
.availabledesertconnector { border-width:1px; width: 16; height: 16; margin-left: -14px; margin-top: -14px; border-radius: 0%;}
.availableskullconnector { border-width:1px; width: 16; height: 16; margin-left: -14px; margin-top: -14px; border-radius: 0%;}
.availableturtleconnector { border-width:1px; width: 16; height: 16; margin-left: -14px; margin-top: -14px; border-radius: 0%;}
.availabledark { background-color: rgb(36, 51, 255); border-radius: 0%; transform: rotateY(0deg) rotate(45deg);}
.availableitemlocked { background-color: rgb(255, 123, 0); border-color:rgb(255, 255, 255); border-radius: 0%; transform: rotateY(0deg) rotate(45deg);}
.availablespawn { background-color: rgb(0, 221, 255); border-color:rgb(255, 255, 255);}
.availableother { background-color: rgb(81, 255, 58); border-color:rgb(245, 254, 168); border-radius: 0%;}
.availablekeylocation { background-color: rgb(0, 26, 255); border-radius: 0%; transform: rotateY(0deg) rotate(45deg);}
.opened { z-index: 0 !important; border-width: 0px;}
.bonked { z-index: 0 !important; width: 12; height: 12; border-width: 0px;}
.hidden { width: 0px!important; height: 0px!important; }

#caption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: black;
  font-size: 12px;
  text-align: center;
}

#autotrackingstatus {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 3px;
  color: white;
  font-size: 12px;
  text-align: right;
}

.icon {
  width: 16px !important;
  height: 16px !important;
  display: inline-block;
  background-size: 100% 100% !important;
  vertical-align: text-bottom;
}

.crossedleft {
 min-height: 2px;
 min-width: 2px;
}

.crossedright {
 min-height: 2px;
 min-width: 2px;
}



.notediv {
	background: #000;
	border-style: solid;
	border-color: #FFF;
	border-width: 1px;
	color: #F00;
	font-size: 8px;
	text-align: center;
}

.noitem { background-image: url(../images/dungeons/prize0.png); opacity: .25; }

.separatortop { border-top: 1px dotted gray; margin-top: -1px; }

.tab { padding: 4px; border: 2px solid white; color: blue; user-select: none; cursor: pointer; }
.tab.active { border-color: black; color: black; background-color: #E0E0E0; cursor: default; }

#entranceModal {
  width: var(--app-width);
  height: var(--app-height);
  background-color: rgb(0,0,0,0.3);
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#entranceModalMain {
  width: calc(var(--app-width) - 40px);
  height: calc(var(--app-height) - 30px);
  background-color: rgb(10,10,10,0.95);
  z-index: 4;
  position: absolute;
  top: 15px;
  left: 20px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  color: #FFF;
}

.connectorLineDiv {
  width: var(--tracker-width);
  height: var(--map-size);
  position: absolute;
  top: var(--tracker-item-height);
  left: 0;
  z-index: 0;
  pointer-events: none;
  background: none;
}

.informationTagDiv {
  width: var(--tracker-width);
  height: var(--map-size);
  position: absolute;
  top: var(--tracker-item-height);
  left: 0;
  z-index: 0;
  visibility: hidden;
  pointer-events: none;
  background: none;
}
.informationdiv {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
  font-family: roboto_condensedregular, Arial, Helvetica, sans-serif;
  font-size: 7px;
	text-align: center;
  pointer-events: none;
  opacity: 80%;
}

#entranceModalLightWorld { width: 372px; float: left; }
#entranceModalGeneral { width: 372px; float: left; }
#entranceModalDarkWorld { width: 372px; float: left; }

#connectorStop { cursor: pointer; position: absolute; top: 89.6%; left: 81.6%; z-index: 2; width: 37.5px; }
#connectorStop img { width: 100%; }
#hideConnectorLines { cursor: pointer; position: absolute; top: 89.6%; left: 1.2%; z-index: 2; width: 37.5px; }
#hideConnectorLinesImg { width: 100%; }
#entranceSummary { cursor: pointer; position: absolute; top: 89.6%; left: 81.6%; z-index: 2; width: 37.5px; }
#entranceSummary img { width: 100%; }

#summaryModal { 
  width: 442px;
  left: 0;
  height: 100%;
  background-color: rgb(0,0,0,.3);
  z-index: 3;
  position: absolute;
  top: 0px;
  display: none;
}

#summaryModalMain { 
  width: 400px;
  height: 600px;
  left: 24px;
  top: 35px;
  background-color: rgb(0,0,0,1);
  z-index: 4;
  position: absolute;
  border-style: solid;
  border-color: white;
  color: #FFF;
}

.entranceModalGeneralInner { 
	height: 84px; 
}

.entranceModalGeneralInnerSmall { 
	height: 54px; 
}

.entranceModalGeneralInnerLarge { 
	height: 84px; 
}
.entrance {
  border-radius: 50%;
  border-color:#000;
  border-style: solid;
  border-width: 1px;
  width: 9px;
  height: 9px;
  margin-left: -7px;
  margin-top: -7px;
  position: absolute;
  background-size: 100% 100%;
}

.entranceBossDiv {
	position: absolute; 
	left: 22px; 
	top: 22px; 
	width: 20px; 
	height: 20px; 
	border: 2px solid black; 
	pointer-events: none; 
	opacity: .5;
	visibility: none;
}

.grabbagtr {
  border: 1px solid black;
  cursor: pointer;
  width: 140px;
  height: 24px;
  padding: 5px;
}

#modalTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.modal-entranceTag {
	width: auto;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
	font-family: 'Teko', Arial, Helvetica, sans-serif; 
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}


#map .boss {
  border-width: 0px;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75% 75%;
  z-index: 2;
}

#bossMapAgahnim { background-color: transparent; }
.castle {
  border-color:#000;
  border-style: solid;
  border-width: 1.5px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
  background-size: 100% 100%;
}

.dungeon {
  border-color:#000;
  border-style: solid;
  border-width: 1.25px;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  background-size: 100% 100%;
}
